@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;800&family=Space+Mono:wght@700&display=swap');

:root {
    --black: #171321;
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-turquise: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);

    --font-size: 24px;
    --sans: 'Space Mono', monospace;
}

html {
    box-sizing: border-box;
}



body {
    background-color: var(--light-turquise);
    margin: 0;
    padding: 0;
    color: var(--dark-grayish-cyan);
    font-family: var(--sans);
    font-size: 12px;
}

nav {
    padding: 15px;
    text-align: center;
}

.grid-container {
    background-color: var(--white);
    
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    
}


/*input boxes*/



/*bill*/

.bill{
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
}

.bill input{
    background-color: var(--very-light-grayish-cyan);
    text-align: center;
    width: 90%;
    border: 1px solid var(--very-light-grayish-cyan);
    border-radius: 5px;
    padding: 10px;
}

.bill svg{
    position: relative;
    bottom: 28px;
    left: 10px;
}

/*tips*/

.tips-table{
    margin: 0 auto 0 auto;
}

.tips-percentages{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
}

.tips-percentages button{
    background-color: var(--very-dark-cyan);
    border: 1px solid var(--very-dark-cyan);
    color: var(--white);
    border-radius: 5px;
    font-family: var(--sans);
    font-size: 20px;
    padding: 5px;
}

.tips-percentages button:last-child{
    background-color: var(--very-light-grayish-cyan);
    color: var(--grayish-cyan);
    border: var(--very-light-grayish-cyan);
}

/*number of people*/

.number-of-people{
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
}

.number-of-people input{
    background-color: var(--very-light-grayish-cyan);
    text-align: center;
    width: 90%;
    border: 1px solid var(--very-light-grayish-cyan);
    border-radius: 5px;
    padding: 10px;
}

.number-of-people svg{
    position: relative;
    bottom: 28px;
    left: 10px;
}

/*Sum box*/

.Sum-box{
    display: flex;
    flex-direction: column;
    background-color: var(--very-dark-cyan);
    border-radius: 20px;
    color: var(--very-light-grayish-cyan);
}

.tip-amount, .total-amount{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 22px 5px 22px;
}

.tip-amount ul, .total-amount ul{
    list-style-type: none;
    padding: 0;
}

.tip-amount ul li:last-child, .total-amount ul li:last-child{
    color: var(--grayish-cyan);
}

.tip-amount span, .total-amount span{
    color: var(--strong-cyan);
    font-size: var(--font-size);
}

.Sum-box button{
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
    border-radius: 5px;
    border: 1px solid var(--strong-cyan);
    font-family: var(--sans);
    font-size: 16px;
    cursor: pointer;
    margin: 20px;
    padding: 10px;


}